@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=PT+Sans:400,700";

:root {
  --login-btn-color: #1A237E;
  --login-btn-hover-color: #0f1768;
  --add-item-button-color: rgb(34, 172, 29);
  --contact-button-color : rgb(95, 71, 192);
  --submit-btn-color: #4c49ea;
  --update-btn-color: #d8b43d;
  --reset-list-btn-color: #d4d4dd;
  --sidebar-color: #7386D5; 
  --sidebar-buttons-color: #6d7fcc;
  --sidebar-buttons-hover: #3f5ac8;
}

.App {
  font-family: 'Poppins', sans-serif;
}

.App-link {
  color: #61dafb;
}

.card-body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #B0BEC5;
  background-repeat: no-repeat;
}

.card0 {
  box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 0px;
}

.card2 {
  margin: 0px 40px;
}

.logo {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 35px;
}

.image {
  width: 360px;
  height: 280px;
}

.border-line {
  border-right: 1px solid #EEEEEE;
}

.facebook {
  background-color: #3b5998;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.twitter {
  background-color: #1DA1F2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.linkedin {
  background-color: #2867B2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.line {
  height: 1px;
  width: 45%;
  background-color: #E0E0E0;
  margin-top: 10px;
}

.or {
  width: 10%;
  font-weight: bold;
}

.text-sm {
  font-size: 14px !important;
}

::placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300
}

:-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

::-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

input, textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 14px;
  letter-spacing: 1px;
}

input:focus, textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #304FFE;
  outline-width: 0;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

.btn-blue {
  background-color: var(--login-btn-color);
  width: 150px;
  color: #fff;
  border-radius: 2px;
}

.btn-blue:hover {
  color: #fff;
  background-color: var(--login-btn-hover-color);
  cursor: pointer;
}

.bg-blue {
  color: #fff;
  background-color: #1A237E;
}

.login-flex {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sidebar {
  display: flex;
  height: 100vw;
  flex-direction: column;
  background: var(--sidebar-color);
  color: #fff;
  transition: all 0.3s;
  padding-top: 5%;
}
.sidebar-items{
  width: 100%;
  background-color: var(--sidebar-buttons-color) !important;
  color: #fff !important;
  border-color: var(--sidebar-buttons-color) !important;
  margin-bottom: 2%;
  height: 60px !important;
}
.sidebar-items:hover{
  background-color: var(--sidebar-buttons-hover) !important;
  color: #fff !important;
  border-color: var(--sidebar-buttons-hover) !important;
}
.sidebar-dropdown-menu {
  background-color: var(--sidebar-buttons-color) !important;
  color: #fff !important;
  width: 100%;
  text-align: center !important;
}
.dropdown-items{
  background-color: var(--sidebar-buttons-color);
  color: #fff !important;
  height: 40px;
  padding-top: 3% !important;
}
.link-Class{
  background-color: var(--sidebar-buttons-color);
  color: #fff !important;
  text-decoration: none;
}
.link-Class:hover{
  background-color: var(--sidebar-buttons-hover) !important;
  color: #fff !important;
  text-decoration: none;
}
.dropdown-items:hover {
  background-color: var(--sidebar-buttons-hover) !important;
  color: #fff !important;
}
.my-container {
  text-align: center;
  margin-top: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0px 0px 2px 3px rgba(97, 92, 92, 0.621);
  border-radius: 4px 4px;
  background-color:rgba(128, 128, 128, 0.185);
  margin-bottom: 5%;
}
.table-responsive {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  border-radius: 5px;
}
.update-btn {
  background-color: var(--update-btn-color);
}
.submit-btn {
  background-color: var(--submit-btn-color) !important;
  color: white !important;
  margin-right: 2%;
}
.view-info {
  vertical-align: middle;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .logo {
      margin-left: 0px;
  }

  .image {
      width: 300px;
      height: 220px;
  }

  .border-line {
      border-right: none;
  }

  .card2 {
      border-top: 1px solid #EEEEEE !important;
      margin: 0px 15px;
  }
}
