@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=PT+Sans:400,700";

:root {
  --login-btn-color: #1A237E;
  --login-btn-hover-color: #0f1768;
  --add-item-button-color: rgb(21, 163, 16);
  --basic-expertise-color : cyan;
  --novice-expertise-color : rgb(245, 245, 6);
  --intermediate-expertise-color : rgb(30, 82, 255);
  --advanced-expertise-color : orange;
  --expert-expertise-color : rgb(12, 213, 12);
  --submit-btn-color: #4c49ea;
  --update-btn-color: #ebbf2e;
  --reset-list-btn-color: #d4d4dd;
  --sidebar-color: #7386D5; 
  --sidebar-buttons-color: #6d7fcc;
  --sidebar-buttons-hover: #3f5ac8;
}

.App {
  font-family: 'Poppins', sans-serif;
  overflow:hidden;
}

.App-link {
  color: #61dafb;
}

.my-spinner {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(2px);
}
.ix-banner {
  width: 200px;
  height: 50px;
}
.login-card-body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #B0BEC5;
  background-repeat: no-repeat;
}

.card0 {
  box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 0px;
}

.card2 {
  margin: 0px 40px;
}

.logo {
  width: 120px;
  height: 80px;
  margin-top: 20px;
  margin-left: 35px;
}

.image {
  width: 360px;
  height: 280px;
}

.border-line {
  border-right: 1px solid #EEEEEE;
}

.line {
  height: 1px;
  width: 45%;
  background-color: #E0E0E0;
  margin-top: 10px;
}

.or {
  width: 10%;
  font-weight: bold;
}

.text-sm {
  font-size: 14px !important;
}

::placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300
}

:-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

::-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

input, textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: 1px;
}

input:focus, textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #304FFE;
  outline-width: 0;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

.btn-blue {
  background-color: var(--login-btn-color) !important;
  width: 150px;
  color: #fff !important;
  border-radius: 2px;
}

.btn-blue:hover {
  color: #fff;
  background-color: var(--login-btn-hover-color);
  cursor: pointer;
}

.bg-blue {
  color: #fff;
  background-color: #1A237E;
}

.login-flex {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sidebar {
  display: flex;
  height: 90vh;
  flex-direction: column;
  background: var(--sidebar-color);
  color: #fff;
  transition: all 0.3s;
  padding-top: 5%;
}
.sidebar-items{
  font-size: larger;
  text-align: left;
  width: 100%;
  background-color: var(--sidebar-buttons-color) !important;
  color: #fff !important;
  border-color: var(--sidebar-buttons-color) !important;
  margin-bottom: 3% !important;
  height: 60px !important;
}
.sidebar-items:hover{
  background-color: var(--sidebar-buttons-hover) !important;
  color: #fff !important;
  border-color: var(--sidebar-buttons-hover) !important;
}
.sidebar-dropdown-menu {
  background-color: var(--sidebar-buttons-color) !important;
  color: #fff !important;
  width: 100%;
  text-align: center !important;
}
.dropdown-items{
  background-color: var(--sidebar-buttons-color);
  color: #fff !important;
  height: 40px;
  padding-top: 3% !important;
}
.link-Class{
  background-color: var(--sidebar-buttons-color);
  color: #fff !important;
  text-decoration: none;
}
.link-Class:hover{
  background-color: var(--sidebar-buttons-hover) !important;
  color: #fff !important;
  text-decoration: none;
}
.dropdown-items:hover {
  background-color: var(--sidebar-buttons-hover) !important;
  color: #fff !important;
}
.my-container {
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 25px;
  box-shadow: 0px 0px 2px 3px rgba(97, 92, 92, 0.621);
  border-radius: 4px 4px;
  background-color:rgba(128, 128, 128, 0.185);
  overflow-y: auto;
  height: 88vh;
}
.table-responsive {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
  overflow-y: scroll;
}
.hoverable {
  cursor: pointer;
}
.input-item-details {
  margin-bottom: 10px;
  padding: 6px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border-radius: 4px;
}
.input-row {
  margin-top: 1% !important;
  padding-right: 30px;
  margin-bottom: 1%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.update-btn {
  background-color: var(--update-btn-color);
  margin-right: 3%;
}
.submit-btn {
  background-color: var(--submit-btn-color) !important;
  color: white !important;
  margin-right: 2%;
}
.add-new-btn {
  background-color: var(--add-item-button-color) !important;
  color: white !important;
  margin-right: 2%;
}
.view-info {
  vertical-align: middle;
}
.skill-update-btn {
  font-size: small;
  background-color: var(--update-btn-color);
  margin-right: 5%;
  width: 35%;
}
.skill-delete-btn {
  font-size: small;
  width: 35%;
}
.skill-card {
  cursor: pointer;
}
.map-emp-btn {
  margin-right: 25px;
}
.new-emp-btn {
  margin-right: 25px;
}
.new-skill-btn {
  margin-right: 35px !important;
}
.badge {
  padding: 8px;
  background-color: rgb(255, 255, 255);
  font-size: medium;
  color: black;
  font-weight: normal;
  margin-right: 3px;
}
.basic {
  border-color: var(--basic-expertise-color) !important;
}
.novice {
  border-color: var(--novice-expertise-color) !important;
}
.intermediate {
  border-color: var(--intermediate-expertise-color) !important;
}
.advanced {
  border-color: var(--advanced-expertise-color) !important;
}
.expert {
  border-color: var(--expert-expertise-color) !important;
}
td.description {
  vertical-align: middle;
}
.card-registration .select-arrow {
  top: 13px;
}
.card-profile-image {
  width: 250px;
  height: 250px;
  align-self: left !important;
  border-radius: 10%;
}
/* Profile */
.text-secondary {
  color: #15395A !important;
}
.font-weight-600 {
  font-weight: 600;
}
.display-26 {
  font-size: 1.2rem;
}

.skill-table-cell {
  word-wrap: break-word;
  min-width: 160px;
  max-width: 160px;
}
.table-fit {
  width: 100px !important;
}
.align-middle {
  margin-top: auto;
}
.-label {
  cursor: pointer;
}

&:hover {
  .-label {
    z-index: 10000;
    transition: background-color .2s ease-in-out;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 991px) {
  .logo {
      margin-left: 0px;
  }

  .image {
      width: 300px;
      height: 220px;
  }

  .border-line {
      border-right: none;
  }

  .card2 {
      border-top: 1px solid #EEEEEE !important;
      margin: 0px 15px;
  }
}
